<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Welcome to the best Movie Review Website</title>
        {% endif%}
    </head>

    {% import 'macros.html' as macro %}

    <body>
        
        <!--Popular movie section-->
        <h3>Popular Movies</h3>
            <ul>
                {{ macro.displayMovie(popular) }}
            </ul>

        <!--Upcoming movie section-->
        <h3>Popular Movies</h3>
            <ul>
                {{ macro.displayMovie(upcoming) }}
            </ul>

        <!--Upcoming movie section-->
        <h3>Popular Movies</h3>
            <ul>
                {{ macro.displayMovie(now) }}
            </ul>



    </body>

</html>